---
import { getCollection } from "astro:content"
import { PaperCard } from "@/components/paper-card"
import IndexLayout from "@/layouts/index.astro"

const papers = await getCollection("posts", ({ data }) => {
  return data.category == "paper"
})
---

<IndexLayout>
  <h1
    class="my-8 scroll-m-20 text-4xl font-extrabold tracking-tight text-balance"
  >
    论文研读
  </h1>
  <div class="grid grid-cols-1 gap-4 md:grid-cols-3">
    {papers.map((paper) => <PaperCard post={paper} />)}
  </div>
</IndexLayout>
