---
import { getCollection, render } from 'astro:content'
import { Separator } from '@/components/ui/separator'

import PostLayout from '@/layouts/PostLayout.astro'
import MarkdownLayout from '@/layouts/MarkdownLayout.astro'
import Utterances from '@/components/comment/Utterances'
import TencentCloudAD from '@/components/ad/tencent-cloud-ad'

export async function getStaticPaths() {
  const postEntries = await getCollection('posts')

  return postEntries.map((entry) => ({
    params: { id: entry.id },
    props: { entry },
  }))
}

const { entry } = Astro.props
const { Content } = await render(entry)

const title = `博客 | ${entry.data.title}`
const post = {
  title: entry.data.title,
  pubDate: entry.data.pubDate,
  author: entry.data.author,
  description: entry.data.description,
  coverUrl: entry.data.coverUrl,
  tags: entry.data.tags,
}
---

<PostLayout title={title} post={post}>
  <p class="text-xl text-muted-foreground">
    {entry.data.description}
  </p>
  <Separator className="my-10" />
  <MarkdownLayout>
    <Content />
  </MarkdownLayout>
  <Separator className="my-10" />
  <Utterances />
  <TencentCloudAD />
</PostLayout>
