---
import { getCollection } from "astro:content"
import IndexLayout from "@/layouts/index.astro"
import { MomentCard } from "@/components/moment-card"

const moments = (await getCollection("moments")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)
---

<IndexLayout>
  <h1
    class="my-8 scroll-m-20 text-4xl font-extrabold tracking-tight text-balance"
  >
    全部动态
  </h1>
  <div class="grid grid-cols-1 items-start gap-4 md:grid-cols-3">
    {moments.map((moment) => <MomentCard moment={moment} />)}
  </div>
</IndexLayout>
