.markdown-view pre {
  margin: 16px 0;
  padding: 16px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 0.5rem;
}

.markdown-view h1,
.markdown-view h2,
.markdown-view h3,
.markdown-view h4,
.markdown-view h5,
.markdown-view h6 {
  margin: 24px 0;
  font-weight: 600;
}

.markdown-view h2 {
  font-size: 1.875rem;
  line-height: 2.25rem 36px;
}

.markdown-view h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.markdown-view p,
.markdown-view li {
  font-size: 18px;
  line-height: 1.75rem;
}

.markdown-view table {
  width: 100%;
  table-layout: fixed;
  word-break: break-all;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
}

.markdown-view thead {
  color: #ffffff;
  background-color: #3b82f6;
}

.markdown-view td,
.markdown-view th {
  padding: 8px 16px;
}

.markdown-view tbody > tr:nth-child(even) {
  background-color: rgb(228, 228, 228);
}

.markdown-view tbody > tr:nth-child(odd) {
  background-color: rgb(247, 247, 247);
}

.markdown-view blockquote {
  margin: 16px;
  padding: 0 16px;
  border-left: 8px solid #3b82f6;
  font-style: italic;
}

.markdown-view a {
  color: #3b82f6;
  font-style: italic;
}
