---
import { getCollection } from "astro:content"
import { PostCard } from "@/components/post-card"
import IndexLayout from "@/layouts/index.astro"

const computerNetworks = await getCollection("posts", ({ data }) => {
  return data.category == "computer-networks"
})
---

<IndexLayout>
  <h1
    class="my-8 scroll-m-20 text-4xl font-extrabold tracking-tight text-balance"
  >
    计算机网络
  </h1>
  <div class="grid grid-cols-1 gap-4">
    {computerNetworks.map((post) => <PostCard post={post} />)}
  </div>
</IndexLayout>
