---
import type { GetStaticPathsOptions } from "astro"
import { getCollection } from "astro:content"
import { PostCard } from "@/components/post-card"
import IndexLayout from "@/layouts/index.astro"
import { PostPagination } from "@/components/pagination"

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const essays = await getCollection("posts", ({ data }) => {
    return data.category == "essay"
  })

  return paginate(essays, { pageSize: 12 })
}

const { page } = Astro.props
---

<IndexLayout>
  <h1
    class="my-8 scroll-m-20 text-4xl font-extrabold tracking-tight text-balance"
  >
    随笔
  </h1>
  <div class="grid grid-cols-1 gap-4">
    {page.data.map((post) => <PostCard post={post} />)}
  </div>
  <div class="my-8">
    <PostPagination page={page} category="post/essay" />
  </div>
</IndexLayout>
