---
import { getCollection } from "astro:content"
import IndexLayout from "@/layouts/index.astro"
import { Button } from "@/components/ui/button"
import { PostCard } from "@/components/post-card"

const posts = (await getCollection("posts")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)
const latestPosts = posts.slice(0, 5)
---

<IndexLayout>
  <div class="flex items-center justify-between">
    <h3 class="my-8 scroll-m-20 text-2xl font-semibold tracking-tight">博客</h3>
    <Button variant="link">
      <a href="/post">查看全部</a>
    </Button>
  </div>
  <div class="grid grid-cols-1 gap-4">
    {latestPosts.map((post) => <PostCard post={post} />)}
  </div>
</IndexLayout>
