---
import { getCollection } from "astro:content"
import IndexLayout from "@/layouts/index.astro"
import { PostCard } from "@/components/post-card"

const posts = (await getCollection("posts")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)
---

<IndexLayout>
  <h1
    class="my-8 scroll-m-20 text-4xl font-extrabold tracking-tight text-balance"
  >
    全部博客
  </h1>
  <div class="grid grid-cols-1 gap-4">
    {posts.map((post) => <PostCard post={post} />)}
  </div>
</IndexLayout>
