---

---

<nav class="nav">
  <div class="nav-link">
    <a href="/">
      <section class="nav-link-item">首页</section>
    </a>
    <a href="/posts">
      <section class="nav-link-item">文章</section>
    </a>
    <a href="/tags">
      <section class="nav-link-item">标签</section>
    </a>
  </div>
</nav>

<style>
  .nav {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .logo-content {
    color: white;
    font-size: 26px;
  }

  .nav-link {
    display: flex;
  }

  .nav-link-item {
    font-size: 18px;
    font-weight: normal;
    margin-right: 24px;
    color: white;
  }
</style>
