---
import type { GetStaticPathsOptions } from "astro"
import { getCollection } from "astro:content"
import IndexLayout from "@/layouts/index.astro"
import { PostPagination } from "@/components/pagination"
import { AchievementCardWrapper } from "@/modules/wrapper/achievement-card-wrapper"

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const achievements = (await getCollection("achievements")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
  )

  return paginate(achievements, { pageSize: 24 })
}

const { page } = Astro.props
---

<IndexLayout>
  <h1
    class="mt-12 mb-8 scroll-m-20 text-4xl font-extrabold tracking-tight text-balance"
  >
    全部成就
  </h1>
  <div class="grid grid-cols-1 items-start gap-4 md:grid-cols-2">
    <AchievementCardWrapper achievements={page.data} />
  </div>
  <div class="my-8">
    <PostPagination page={page} category="achievement" />
  </div>
</IndexLayout>
