---

---

<footer class="footer">
  <div class="footer-content">
    <section class="brand">
      <h3 class="logo">动核互联</h3>
      <h5 class="logo-minor">DYNAMIC CORE</h5>
    </section>
  </div>
</footer>
<style>
  .footer {
    width: 100%;
    background-color: #000000;
  }

  .footer-content {
    max-width: 1032px;
    padding: 0 16px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }

  .brand {
    font-size: 12px;
    padding: 16px 0;
    color: white;
  }

  .logo {
    margin: 0;
    font-size: 30px;
    font-style: italic;
    color: white;
  }

  .logo-minor {
    margin: 0;
    font-size: 12px;
  }
</style>
