---
import MainLayout from "@/layouts/main.astro"
import { Header } from "@/modules/header"
import { Footer } from "@/modules/footer"
import { SocialBanner } from "@/components/banner/social-banner"
---

<MainLayout>
  <Header client:load />
  <SocialBanner />
  <div class="mx-auto h-full w-full max-w-5xl px-4">
    <slot />
  </div>
  <Footer />
</MainLayout>
