---
import { Image } from 'astro:assets'

import BackGround from '../../assets/images/background_default.jpg'

const githubAvatarUrl = 'https://avatars.githubusercontent.com/u/109642163?v=4'
---

<div class="banner">
  <section class="focus">
    <Image class="focus-img" src={BackGround} alt="background" />
    <section class="focus-info">
      <h2 class="focus-info-title">动核互联</h2>
      <h4 class="focus-info-minor">DYNAMISM CORE</h4>
    </section>
  </section>
  <section class="focus-2">
    <Image
      class="focus-2-img"
      inferSize
      src={githubAvatarUrl}
      alt="background"
    />
  </section>
  <section class="focus-3">
    <section class="focus-3-info">新年快乐 ！！！</section>
  </section>
</div>

<style>
  .banner {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(3, 120px);
  }

  .focus {
    position: relative;
    width: 100%;
    height: 100%;
    grid-column: 1 / span 3;
    grid-row: 1 / span 3;
  }

  .focus-info {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 32px;
  }

  .focus-info-title {
    margin: 0;
    font-size: 56px;
    font-style: italic;
    color: white;
  }

  .focus-info-minor {
    margin: 0;
    font-size: 16px;
    text-align: end;
    color: white;
  }

  .focus-img {
    padding-right: 16px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .focus-2 {
    width: 100%;
    height: 100%;
    grid-row: 1 / span 2;
    grid-column: 4 / span 2;
  }

  .focus-2-img {
    padding-bottom: 16px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .focus-3 {
    width: 100%;
    height: 100%;
    grid-column: 4 / span 2;
  }

  .focus-3-info {
    width: 100%;
    height: 100%;
    padding: 16px;
    font-size: 26px;
    font-style: italic;
    color: white;
    /* background-color: #525ceb; */
    background-color: #e34234;
  }
</style>
